<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
    <th:block th:fragment="content">

        <h1 class="mt-4">방명록
            <span>
                <a th:href="@{/register}">
                    <button type="button" class="btn btn-outline-primary">REGISTER</button>
                </a>
            </span>
        </h1>

        <!-- Guestbook List -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">내용</th>
                <th scope="col">닉네임</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="pageResponseDTO" type=""*/-->
            <tr th:each="dto : ${pageResponseDTO.dtoList}">
                <th scope="row">
                    <a th:href="@{/read(gno = ${dto.gno}, page = ${pageResponseDTO.page})}">
                        [[${dto.gno}]]
                    </a>
                </th>
                <td>[[${dto.content}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <!-- Page List -->
        <ul class="pagination h-100 justify-content-center align-items-center">

            <!--/*@thymesVar id="pageResponseDTO" type=""*/-->
            <li class="page-item" th:if="${pageResponseDTO.prev}">
                <a class="page-link" th:href="@{/guestbook/list(page = ${pageResponseDTO.start - 1})}" tabindex="-1">Previous</a>
            </li>
            <li th:class=" 'page-item ' + ${pageResponseDTO.page == page ? 'active' : ''} " th:each="page : ${pageResponseDTO.pageList}">
                <a class="page-link" th:href="@{/guestbook/list(page = ${page})}">[[${page}]]</a>
            </li>
            <li class="page-item" th:if="${pageResponseDTO.next}">
                <a class="page-link" th:href="@{/guestbook/list(page = ${pageResponseDTO.end + 1})}">Next</a>
            </li>
        </ul>



    </th:block>

