@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Cinzel Decorative', serif;
    margin: 0px;
    height: 100%;
    position: relative;
}


.quick-nav {
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.quick-nav:hover {
    color: rgb(200, 170, 110);
    background-color: rgba(200, 170, 110, 0.05);
}