@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Cinzel Decorative', serif;
    margin: 0px;
    height: 100%;
    position: relative;
}

.quick-nav {
    padding: 8px;
    font-size: 22px;
    border-radius: 12px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    white-space: nowrap;
}

.quick-nav:hover {
    color: rgba(200, 170, 110,0.2);
    /* background-color: rgba(200, 170, 110, 0.1); */
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(200, 170, 110);
}

.team-text {
    color: white;
    text-shadow: 0 0 10px skyblue;
    font-size: 20px;
}

.member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

/* .member-card {
    margin: auto;
    width: 400px;
    height: 280px;
    border: 2px;
    border-color: white;
    border-radius: 8px;
    padding: 8px;
} */

.member-card {
    background-color: black;
    border-radius: 8px;
}

@media (max-width: 1280px) {
    .team-text {
        font-size: 24px;
    }
}

@media (max-width: 760px) {
    .team-text {
        font-size: 16px;
    }
}