@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Cinzel Decorative', serif;
    margin: 0px;
    height: 100%;
    position: relative;
}

.quick-nav {
    padding: 8px;
    font-size: 22px;
    border-radius: 12px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    white-space: nowrap;
}

.quick-nav:hover {
    color: rgba(200, 170, 110,0.2);
    /* background-color: rgba(200, 170, 110, 0.1); */
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(200, 170, 110);
}

.team-text {
    color: white;
    text-shadow: 0 0 10px skyblue;
}